#------------------------------------------------------------------------------
#
# \brief	Git ignore file for "ritning"
#
#------------------------------------------------------------------------------

__pycache__/

#---fin------------------------------------------------------------------------
